# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Jupyter Notebook
.ipynb_checkpoints

# pytest
.pytest_cache/

# IDE
.idea/

# Virtual environments
venv/
env/
ENV/

# Distribution / packaging
*.egg-info/
dist/
build/

# Solutions
soluciones/